
@{
    ViewBag.Title = "File Uploaden";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h2>Basic File Upload</h2>
    @using (Html.BeginForm("Index",
                            "CSV",
                            FormMethod.Post,
                            new { enctype = "multipart/form-data" }))
    {
        <label for="file">Upload File:</label>
        <input type="file" name="file" id="file" /><br><br>
        <input type="submit" value="Upload File" />
        <br><br>
        @ViewBag.Message
    }
</body>
</html>
